ul {
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}


/*------STYLING FOR MAIN VIDEO--------------*/

.videoitem img {
  max-width: 64px;
}

.mainVideoStyle {
  border: 1px solid #000;
  border-radius: 4px;
}

.mainVideoDescription {
  padding: 10px 0 10px 0;
}

.mainVideoTitle {
  padding: 10px 0 10px 0;
  font-weight:bold;
}
/*------STYLING FOR SIDE VIDEOS--------------*/
.sideListStyle {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid red;
  border-radius: 4px;
}

.sideListVideoStyle {
  cursor: pointer;
  font-weight: bold;
}

.sideListVideoStyle: hover {
  background-color: green;
}

/* ------STYLING FOR LIST OF VIDEOS--------------*/

.listStyle {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid green;
  border-radius: 4px;
}

.listVideoStyle {
  cursor: pointer;
  display: inline;
}

.listVideoStyle: hover {
  background-color: green;
}
