/*------STYLING FOR MAIN VIDEO--------------*/
.videoitem img {
  max-width: 64px;
}

.mainVideoStyle {
  border: 1px solid #000;
  border-radius: 4px;
}

.mainVideoDescription {
  padding: 10px 0 10px 0;
}

.mainVideoTitle {
  padding: 10px 0 10px 0;
  font-weight:bold;
}
/*------STYLING FOR SIDE VIDEOS--------------*/
.sideListStyle {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid red;
  border-radius: 4px;
}

.sideListItemStyle {
  display: block;
  cursor: pointer;
  padding: 10px;
  font-weight: bold;
}

.sideListItemStyle:hover {
  background-color: #eee;
}

/* ------STYLING FOR LIST OF VIDEOS--------------*/
.listStyle {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid black;
  border-radius: 4px;
}

.lisIitemStyle {
  cursor: pointer;
  display: inline-block;
}

.listItemStyle:hover {
  background-color: #eee;
}
