/*-----------GENREAL STYLING*/
ul {
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}

.colmd2 {
  padding-right: 0px;
  padding-left: 5px;
}

/*------STYLING FOR MAIN VIDEO--------------*/
.videoitem img {
  max-width: 64px;
}

.mainVideoDescription {
  padding: 10px 0 10px 0;
}

.mainVideoTitle {
  padding: 10px 0 10px 0;
  font-weight:bold;
}
/*------STYLING FOR SIDE VIDEOS--------------*/
.sideThumbnailStyle{
  cursor: pointer;
  width: 130px;
  height: auto;
  padding-right: 5px;
}

.sideVideoTitle {
  font-weight: bold;
  display: inline;
}

.sideListStyle {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sideListVideoStyle: hover {
  background-color: green;
}

/* ------STYLING FOR LIST OF VIDEOS--------------*/
.listStyle {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.listVideoStyle {
  cursor: pointer;
  display: inline;
}

.listVideoStyle: hover {
  background-color: green;
}

.thumbnailStyle {
  width: 218px;
  height: auto;
}
